@model Wayfarer.Models.ViewModels.AddLocationViewModel

@{
    ViewData["BodyClass"] = "container-fluid";
    ViewData["LoadLeaflet"] = true;
    ViewData["LoadQuill"] = true;
}

<h1 class="fs-3 text-center">@ViewData["Title"]</h1>

<div class="row">
    <!-- Location Form Column -->
    <div class="col-md-5">
        <div class="card shadow-sm mb-4">
            <div class="card-header text-bg-primary">
                <h2 class="fs-4">Location Entry</h2>
            </div>
            <div class="card-body">
                <form asp-action="Create" method="post">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <label for="Latitude" class="col-sm-2 col-form-label">Latitude <span class="text-danger">*</span></label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="Latitude" name="Latitude" required readonly />
                        </div>
                        <label for="Longitude" class="col-sm-2 col-form-label">Longitude <span class="text-danger">*</span></label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="Longitude" name="Longitude" required readonly />
                        </div>
                    </div>
                    <small id="coordinatesHelp" class="form-text text-muted">
                        Click on the map to select your location. The latitude and longitude will be automatically filled in.
                    </small>

                    <div class="row ">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="Altitude">Altitude (meters)</label>
                                <input type="number" class="form-control  mt-2" id="Altitude" name="Altitude" step="0.1" />
                            </div>
                        </div>

                        <div class="col-md-9">
                            <div class="form-group">
                                <label for="SelectedActivityId" class="form-label">Activity Type</label>
                                <select asp-for="SelectedActivityId" class="form-select" asp-items="Model.ActivityTypes">
                                    <option value="">Select an Activity</option>
                                </select>

                                @Html.ValidationMessageFor(m => m.SelectedActivityId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>



                    <div class="form-group">
                        <label for="Address">Address</label>
                        <input type="text" class="form-control" id="Address" name="Address" />
                    </div>
                    <div class="form-group">
                        <label for="LocalTimestamp">Local Date and Time <span class="text-danger">*</span></label>
                        <input type="datetime-local"
                               class="form-control"
                               id="LocalTimestamp"
                               asp-for="LocalTimestamp"
                               value="@Model.LocalTimestamp.ToString("yyyy-MM-ddTHH:mm")" />
                        @Html.ValidationMessageFor(m => m.LocalTimestamp, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <input type="hidden" id="Notes" name="Notes" />
                        <label for="notes">Add Notes</label>
                        <div id="notes"></div>
                        <small class="text-muted">
                           You cannot paste images in here. Use the image button from the toolbar to insert an image from a URL.
                        </small>
                    </div>

                    <div class="form-group">
                        <small class="text-muted">
                            <span class="text-danger">*</span> Fields are required.
                        </small>
                    </div>
                    <button type="submit" class="btn btn-primary ">Add Location</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Map Column -->
    <div class="col-md-7">
        <div class="card shadow-sm">
            <div class="card-header text-bg-primary">
                <h2 class="fs-4">Map View</h2>
            </div>
            <div class="card-body p-1">
                <div id="mapContainer" style="height: 575px;"></div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-outline-danger" id="clearButton">Clear Location</button>
            </div>
        </div>
    </div>

        <!-- Modal for image URL input -->
    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageModalLabel">Insert Image URL</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="imageUrl" class="form-label">Image URL</label>
                    <input type="text" id="imageUrl" class="form-control" placeholder="Enter the image URL here">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="insertImageBtn" class="btn btn-primary">Insert Image</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Areas/User/Location/Create.js" type="module"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
